# Data Processing and Analysis
pandas
pyarrow
scikit-learn==1.5.2  # For label encoders  # Pin to match training environment
sqlalchemy
psycopg2-binary

# Deep Learning and ML Frameworks
--find-links https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
torchinfo
tensorboard
#triton for cuda kernels
https://huggingface.co/madbuda/triton-windows-builds/resolve/main/triton-3.0.0-cp312-cp312-win_amd64.whl
# onnx # the build fails on windows, i can do without it for now


# Reinforcement Learning
stable_baselines3
sb3_contrib
gymnasium

# ML Experiment Tracking
wandb

# API Development
fastapi
uvicorn

# Jupyter Notebook Support
ipykernel
ipywidgets

# Progress and Display Utilities
tqdm
rich

# Cloud Storage and Configuration
python-dotenv
azure-storage-blob