# Data Processing and Analysis
numpy<2.0.0  # Add this first to ensure other packages use numpy 1.x
# The pytorch version is not compatible with numpy 2.0.0
pandas
pyarrow
scikit-learn==1.5.2  # For label encoders  # Pin to match training environment
sqlalchemy
psycopg2-binary

# Deep Learning and ML Frameworks (CPU versions)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
torchvision==0.17.1+cpu
torchaudio==2.2.1+cpu
torchinfo

# ML Experiment Tracking
wandb
tensorboard

# API Development
fastapi
uvicorn

# Progress and Display Utilities
tqdm
rich

# Cloud Storage and Configuration
python-dotenv
azure-storage-blob
